<div ng-controller="MembershipCreateCtrl">
  <p ng-hide="memberships.length">
    This {{ joinableType | lowercase }} has no members.
  </p>
  <p ng-show="memberships.length">
    <button class="btn btn-primary" ng-click="toggleShowingMemberships()">
      {{ showingMemberships ?  'Hide Members' : 'Show Members (' + memberships.length + ')' }}
    </button>
  </p>
  <div ng-show="memberships.length && showingMemberships">  
    <ul>
      <li ng-repeat="membership in memberships" ng-controller="MembershipDestroyCtrl">
        {{ membership.user.first_name }} {{ membership.user.last_name }}
        <span ng-if="membership.user.id !== currentUser.id && 
                     joinableOwnerId === currentUser.id" 
              ng-click="confirmDestroy()" 
              class="delete-link-small">
          Remove {{ membership.user.first_name }}
        </span>
        <br>
        {{ membership.user.email }}
        <span ng-if="!$last"><br><br></span>
      </li>
    </ul>
  </div>
  <form id="new-member-form" name="createMembershipForm" ng-submit="createMembership()">
    <div class="form-group">
      <label for="email">
        Add a member to this {{ joinableType | lowercase }}
      </label>
      <input ng-focus="startSelectingMember()" 
             ng-blur="stopSelectingMember()" 
             type="text" 
             name="email" 
             ng-model="memberEmail" 
             class="form-control" 
             autocomplete="off">
    </div>
    <ul class="member-select" ng-show="selectingMember">
      <li ng-repeat="user in nonMemberUsers | filter : memberEmail" 
          ng-if="user.id !== currentUser.id" 
          ng-click="selectMember(user.email, user.id)"
          ng-mouseover="lockSelectingMember()"
          ng-mouseleave="unlockSelectingMember()"
          class="block wide">
        {{ user.email }}
      </li>
    </ul>
    <p ng-if="joinableType === 'Board'">
      Members can view all lists cards. They can create lists and cards, which they can then edit and destroy.
    </p>
    <p ng-if="joinableType === 'Card'">
      Members assigned to this card are responsible for its completion.
    </p>
    <input type="submit" class="btn btn-success" value="Add to {{ joinableType | lowercase }}">
  </form>
</div>