.drag {
  opacity: 0.5;
}

.card-small {
  cursor: pointer;
}

.card-small-complete {
  .well {
    background: #BAE8BA;
  }
}

.over::after {
  background: #ddd;
  height: 15px;
  width: 100%;
  padding: 14px;
  border-radius: 4px;
  content: 'Drop card here';
}

.shadow-card {
  height: 14px;
}

.complete-label {
  color: #5cb85c;
}

.incomplete-label {
  color: #CF3131;
}