.drag {
  opacity: 0.5;
}

.card-small {
  cursor: pointer;
}

.over::after {
  background: #ddd;
  height: 15px;
  width: 100%;
  padding: 14px;
  border-radius: 4px;
  content: 'Drop card here';
}

.shadow-card {
  height: 14px;
}