#list-index {
  display: flex;
  overflow-x: scroll;
  align-items: flex-start;
  padding-right: 15px;
  padding-left: 15px;
}

.list, .new-list-container {
  width: 300px;
  display: inline-block;
  margin: 14px;
  flex-shrink: 0;
}

.list-spacer {
  width: 2px;
  margin: 12px;
  display: inline-block;
  flex-shrink: 0;
}