@import 'bootstrap-sprockets';
@import 'bootstrap';

* {
  box-sizing: border-box;
}

#dropdown-form {
  padding: 14px;
}

.navbar {
  margin-bottom: 0!important;
}

.modal-visable {
  padding: 14px;
}

.delete-link {
  font-size: 18px;
  color: #CF3131;
  float: right!important;
  cursor: pointer;
}

.no-padding {
  padding: 0!important;
}

.no-margin {
  margin: 0!important;
}

.wide {
  width: 100%!important;
}