@import 'bootstrap-sprockets';
@import 'bootstrap';

* {
  box-sizing: border-box;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

ul {
  padding: 0;
  list-style: none;
}

#dropdown-form {
  padding: 14px;
}

.navbar {
  margin-bottom: 0!important;
}

.modal-visable {
  padding: 14px;
}

.delete-link {
  font-size: 18px;
  color: #CF3131;
  float: right!important;
  cursor: pointer;
}

.delete-link-small {
  @extend .delete-link;
  font-size: 12px;
}

.no-padding {
  padding: 0!important;
}

.no-margin {
  margin: 0!important;
}

.wide {
  width: 100%!important;
}

.block {
  display: block;
}